@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header,
.footer,
.left-links,
.right-links {
  display: flex;
}

.header,
.footer {
  justify-content: space-between;
  width: 100%;
}

.footer {

  background-color: #eee;
}

.left-links,
.right-links {
  gap: 1em;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 600px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: .75em 1.5em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 1em;
}

a {
  text-decoration: none;
  color: gray;
  font-weight: 700;
}